.outer-circle {
  width: 50%;
  z-index: 0;
  background: conic-gradient(red 300deg, blue 300deg);
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle {
  width: 95%;
  z-index: 1;
  background: gray;
  border-radius: 50%;
  aspect-ratio: 1;
}
